* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: cornsilk;
}
.main {
    background-color:#fff;
    max-width: 1200px;
    width: 95%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    left: 0;
}
.image { 
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    max-width: 550px;
    max-height: 270px;
    height: calc(95vw /2 / 16* 9);
    width: calc(40vw - 10px);
    background-color: blue;
    margin: 5px auto;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header {
    width: 100%;
    text-align: center;
    font-size: 48px;
    padding: 20px 0;
}
.image-link {
    margin: 5px auto;
    opacity: 0.6;
    transition: 0.5s ease;
}
.image-link:hover {
    opacity: 1;
    transform: scale(1.2);
    z-index: 10;
}
iframe {
    position: relative;
    margin: 10px auto;
}